# Part 3 - CSV files with Python standard libraries

- Create a notebook in the week1 assignment directory.
- Use Python's `csv` library to read the `earthquakes.csv` file as we did in class
    - Remember you can use either the official documentation or a tutorial as a reference for how to do this

In [2]:
import csv

In [3]:
with open('earthquakes.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    headers = reader.__next__()
    print(headers)

['id', 'impact.gap', 'impact.magnitude', 'impact.significance', 'location.depth', 'location.distance', 'location.full', 'location.latitude', 'location.longitude', 'location.name', 'time.day', 'time.epoch', 'time.full', 'time.hour', 'time.minute', 'time.month', 'time.second', 'time.year']

#### Challenge 1
Print out the times, places, and magnitude of the earthquakes that were 6 or higher magnitude
   - Remember this will require you to convert the magnitude from a string to a float

In [4]:
with open('earthquakes.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    headers = reader.__next__()
    # print(headers)
    
    for row in reader:
        # print(', '.join(row))
        magnitude = float(row[2])   #define it as a number
        location = row[9]
        time = row[12]
        if magnitude > 6:
            print(time, location, magnitude)

2016-07-29 17:18:26 Northern Mariana Islands 7.7
2016-08-01 03:42:50 South Indian Ocean 6.1
2016-08-04 10:15:12 Argentina 6.2
2016-08-04 12:24:33 Japan 6.3
2016-08-11 21:26:35 New Caledonia 7.2
2016-08-11 23:29:33 South of the Fiji Islands 6.2
2016-08-19 03:32:22 South Georgia Island region 7.4
2016-08-20 23:45:23 South Georgia Island region 6.4
2016-08-23 21:36:33 Italy 6.2
2016-08-24 06:34:55 Burma 6.8

#### Challenge 2
See if you can list only the earthquakes that happened on the date `2016-08-04`. How many of them are there?
- **Hint**: There are two methods you can use here to filter the rows - (1) you can work with the dates as they are (as strings) or (2) you can convert them to datetime objects first.

In [5]:
from datetime import datetime, date     # we import both libraries to manage date and date with time

In [6]:
day = date(year=2016, month = 8, day = 4)   # create object with the desired date

with open('earthquakes.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    headers = reader.__next__()
    
    count = 0    # define object to sum row count
    
    for row in reader:
        magnitude = float(row[2])   # define it as a numeric value with float()
        location = row[9]
        time = datetime.strptime(row[12], '%Y-%m-%d %H:%M:%S')  # convert to datetime class
       
        if time.date() == day:   # filtering by specified date 
            count += 1   # counting for each iteration with this condition
            
    print('\n There are', count, 'earthquakes logged on', day)

 There are 420 earthquakes logged on 2016-08-04

--------------------------------
# Part 4 - CSV files with pandas

- Create another new notebook in the week1 assignment directory
- Use the `pandas` library to read the `earthquakes.csv` file as we did in class
    - Remember you can use tutorials or the official pandas documentation as a reference

- **Challenge 1 -** Print out the 5 highest magnitude earthquakes
    - This will require sorting the dataframe by a field (`impact.magnitude`)
    - Once you have sorted it you can limit it to just the top 5 rows

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('earthquakes.csv')
df.sort_values(['impact.magnitude'], ascending=False).head(5)

,id,impact.gap,impact.magnitude,impact.significance,location.depth,location.distance,location.full,location.latitude,location.longitude,location.name,time.day,time.epoch,time.full,time.hour,time.minute,time.month,time.second,time.year
799,us100068jg,11.0,7.7,971,207.62,3.293,"28km SSW of Agrihan, Northern Mariana Islands",18.5439,145.5410,Northern Mariana Islands,29,1469827106510,2016-07-29 17:18:26,17,18,7,26,2016
6787,us10006exl,22.0,7.4,843,10.00,2.852,South Georgia Island region,-55.2793,-31.8740,South Georgia Island region,19,1471591942730,2016-08-19 03:32:22,3,32,8,22,2016
4998,us10006d5h,21.0,7.2,799,9.95,4.822,"109km E of Ile Hunter, New Caledonia",-22.4953,173.1114,New Caledonia,11,1470965195140,2016-08-11 21:26:35,21,26,8,35,2016
8002,us10006gbf,24.0,6.8,972,84.07,1.797,"25km W of Chauk, Burma",20.9192,94.5789,Burma,24,1472034895000,2016-08-24 06:34:55,6,34,8,55,2016
7223,us10006fik,52.0,6.4,630,10.00,2.916,South Georgia Island region,-55.2775,-31.7546,South Georgia Island region,20,1471751123740,2016-08-20 23:45:23,23,45,8,23,2016

- **Challenge 2** - See if you can use pandas to find the 10 most active earthquake locations (using the `location.name` field)
    - **Hint**: Close your eyes here if you don't want hints
    - **Hint1**: You can do this in 3 steps. The first is grouping by a field (pandas has a function for this)
    - **Hint2**: pandas documentation has a User Guide page on *group by aggregation* showing various aggregation functions.
    - **Hint3**: Aggregation functions will return a different data type. Use Python's `type()` function to see what that object is so you know what you are working with.

In [9]:
df_active = df['location.name'].value_counts().head(10)
df_active

California                3609
Alaska                    2195
Nevada                     712
Hawaii                     225
Washington                 171
Puerto Rico                156
British Virgin Islands      98
Montana                     96
Oregon                      81
Oklahoma                    66
Name: location.name, dtype: int64

- **Challenge 3** - Use pandas to write the data from **Challenge 2** out to a csv file.
    - **Hint:** There's a simple function that does this, much like reading csv files.

In [10]:
df_active.to_csv('active_locations.csv')
pd.read_csv('active_locations.csv')     #!!! Note that loads the file as a Data Frame

               Unnamed: 0  location.name
0              California           3609
1                  Alaska           2195
2                  Nevada            712
3                  Hawaii            225
4              Washington            171
5             Puerto Rico            156
6  British Virgin Islands             98
7                 Montana             96
8                  Oregon             81
9                Oklahoma             66

# Experiment

- If you're comfortable with the content above there's another dataset in this directory (`titanic.csv`) you can experiment with. A good challenge with this dataset might be to find the survival rate of different demographics. We can look at this briefly at the start of next class to demonstrate some more features of the `pandas` library.

In [11]:
# load libraries
import pandas as pd

# read csv 
df = pd.read_csv('titanic.csv')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [25]:
# Survival rate

tolive = df['survived'].value_counts()
total_passengers = (tolive[0] + tolive[1])     # object 2 rows: 0 = didn't survive // 1 = did survive
survival_rate = tolive[1] / total_passengers

### Results

print('From a total of', tolive[0] + tolive[1], 'passengers in the Titanic only ' "{:.2%}".format(survival_rate) ,'of them could survive to the tragedy. \n')

From a total of 891 passengers in the Titanic only the 38.38% of them could survive to the tragedy.

In [23]:
# Gender analysis
# TODO: you could try a define a % function to simplify code
### Males
males = df[df.sex == 'male']
total_males = len(males)
male_rate = '{:.2%}'.format( total_males / total_passengers )
male_survive_rate = '{:.2%}'.format( len(males[df.survived == 1]) / total_males )

### Females
females = df[df.sex == 'female']
total_females = len(females)
female_rate = '{:.2%}'.format( total_females / total_passengers )
female_survive_rate = '{:.2%}'.format( len(females[df.survived == 1]) / total_females )

### Results
print('Male passengers on Titanic represented the',male_rate, 'of the people on board, but only a scarce', male_survive_rate,'of total male passengers survived.\n')

print('Female passengeres represented the', female_rate, 'of the people on board but almost 3 out of 4 survived, exactly the',female_survive_rate,'of female passengers.\n')

Male passengers on Titanic represented a 64.76% of the people on board, but only a scarce 18.89% of total male passengers survived.

Female passengeres represented the 35.24% of the people on board but almost 3 out of 4 survived, exactly the 74.20% of female passengers.

/Users/xavier/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/xavier/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if sys.path[0] == '':

In [24]:
# Class
first_class = df[df.pclass == 1]
second_class = df[df.pclass == 2]
third_class = df[df.pclass == 3]

first_class_survive_rate = '{:.2%}'.format( len(first_class[df.survived == 1]) / len(first_class) )
second_class_survive_rate = '{:.2%}'.format( len(second_class[df.survived == 1]) / len(second_class) )
third_class_survive_rate = '{:.2%}'.format( len(third_class[df.survived == 1]) / len(third_class) )

### Results
print('\nThe higher the class, the higher the chances to survive:')
print(first_class_survive_rate,'- Almost two thirds of the first class passegers could save')
print(second_class_survive_rate,'- Near half of the mid class passengers survived')
print(third_class_survive_rate,'- Just 1 out of 4 passengers in third-class could survive')

The higher the class, the higher the chances to survive:
62.96% - Almost two thirds of the first class passegers could save
47.28% - Near half of the mid class passengers survived
24.24% - Just 1 out of 4 passengers in third-class could survive

/Users/xavier/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/xavier/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys
/Users/xavier/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.